<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>our-center</string>
		<key>title</key>
		<string>会员中心</string>
		<key>class</key>
		<string>YSLoginController</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>our-center-1</string>
		<key>title</key>
		<string>个人中心</string>
		<key>class</key>
		<string>MemberCenterController</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>our-renzhen</string>
		<key>title</key>
		<string>认证中心</string>
		<key>class</key>
		<string>CertificationCenterController</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>our-qian</string>
		<key>title</key>
		<string>钱包</string>
		<key>class</key>
		<string>CarTableViewController</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>our-vip</string>
		<key>title</key>
		<string>收藏</string>
		<key>class</key>
		<string>MessageController</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>our-photo</string>
		<key>title</key>
		<string>相册</string>
		<key>class</key>
		<string>CustomerServiceController</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>our-kf</string>
		<key>title</key>
		<string>客服</string>
		<key>class</key>
		<string>SetViewController</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>our-shetup</string>
		<key>title</key>
		<string>设置</string>
		<key>class</key>
		<string>SetViewController</string>
	</dict>
</array>
</plist>
