(
	{
		subname = (
			{
				isSelected = YES;
				title = "\U9762\U8bae";
			},
			{
				isSelected = NO;
				title = "10W\U4ee5\U4e0b";
			},
			{
				isSelected = NO;
				title = "10-15W";
			},
			{
				isSelected = NO;
				title = "15W\U4ee5\U4e0a";
			},
		);
		name = "\U85aa\U8d44";
	},
	{
		subname = (
			{
				isSelected = YES;
				title = "\U4e0d\U9650";
			},
			{
				isSelected = NO;
				title = "\U5e94\U5c4a\U6bd5\U4e1a\U751f";
			},
			{
				isSelected = NO;
				title = "3\U5e74\U4ee5\U5185";
			},
			{
				isSelected = NO;
				title = "3-5\U5e74";
			},
			{
				isSelected = NO;
				title = "5-8\U5e74";
			},
			{
				isSelected = NO;
				title = "8\U5e74\U4ee5\U4e0a";
			},
		);
		name = "\U5de5\U4f5c\U7ecf\U9a8c";
	},
	{
		subname = (
			{
				isSelected = YES;
				title = "\U4e0d\U9650";
			},
			{
				isSelected = NO;
				title = "\U4e2d\U4e13";
			},
			{
				isSelected = NO;
				title = "\U5927\U4e13";
			},
			{
				isSelected = NO;
				title = "\U672c\U79d1";
			},
			{
				isSelected = NO;
				title = "\U7855\U58eb";
			},
			{
				isSelected = NO;
				title = "\U535a\U58eb";
			},
		);
		name = "\U5b66\U5386";
	},
)